<div class="page">
  <div id="choixLettreDetails">
  <b>cliquez sur une lettre :</b>

{{#each listeLettre}}

  <a href="repertoire/{{this.FIRSTLETTER}}">  {{this.FIRSTLETTER}}</a>

{{/each}}
</div>

<div class="photoStar">
  {{#each photo}}
    <img src="/images/vip/{{this.PHOTO}}" alt="">
  {{/each}}
</div>

{{#each details}}
<div id="details">
    <p><b>Nom :</b> {{this.PRENOM}} {{this.NOM}} </p>
    <p><b>Date de naissance :</b> {{this.DATE}}</p>
</div>
{{/each}}

{{#each nationalite}}
<p><b>Nationalité : </b>{{this.NATIONALITE}}</p>
{{/each}}

{{#each acteur}}
<p><b>Profession : </b> acteur</p>
<b>Principal(aux) film(s) : </b><br>
{{/each}}
{{#each actrice}}
<p><b>Profession : </b> actrice</p>
<b>Principal(aux) film(s) : </b><br>
{{/each}}
{{#each film}}
<p>{{this.FILM}} ({{this.DATE}})</p>
{{/each}}

{{#each mannequin}}
<p><b>Profession : </b> mannequin</p>
<b>Principal(aux) défilé(s) : </b><br>
{{/each}}
{{#each defile}}
<p>{{this.LIEU}} ({{this.DATE}})</p>
{{/each}}

{{#each chanteur}}
<p><b>Profession : </b> chanteur ({{this.SPE}})</p>
<b>Principal(aux) album(s) : </b><br>
{{/each}}
{{#each chanteuse}}
<p><b>Profession : </b> chanteuse ({{this.SPE}})</p>
<b>Principal(aux) album(s) : </b><br>
{{/each}}

{{#each mariage}}
  <p><b>Mariage(s) :</b> <a href="http://localhost:6800/repertoire/detailsVip/{{this.NUMERO}}">{{this.NOM}} {{this.PRENOM}}</a> ({{this.DEBUT}}-->{{this.FIN}}) lieu : {{this.LIEU}}</p>

{{/each}}
{{#each liaison}}
  <p><b>Liaison(s) :</b> <a href="http://localhost:6800/repertoire/detailsVip/{{this.NUMERO}}">{{this.NOM}} {{this.PRENOM}}</a> ({{this.DEBUT}}) raison fin liaison : {{this.FIN}}</p>

{{/each}}
{{#each details}}
  <p><b>Qui suis-je ? :</b> {{this.BIO}}</p>

{{/each}}

<div class="photoStar" id="allphotos">
  {{#each autresphotos}}
    <img src="/images/vip/{{this.PHOTO}}" alt="">
  {{/each}} 
</div>
</div>






